<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="src/img/computer.ico">
  <title>Portfolio</title>
  <link rel="stylesheet" href="src/css/font-awesome.min.css">
  <link rel="stylesheet" href="src/css/bootstrap.css">
  <link rel="stylesheet" href="src/https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css" />
  <link rel="stylesheet" href="src/css/style.css">
</head>
<body>
  <div class="container">
    <header id="main-header">
      <div class="row no-gutters">
        <div class="col-lg-4 col-md-5">
          <img src="src/img/hugo1.png">
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="d-flex flex-column">
            <div class="p-5 bg-dark text-white">
              <div class="name d-flex flex-row justify-content-between align-items-center">
                <h1 class="display-4">Hugo Moran</h1>
                <a style="font-size:2em;" href="https://github.com/ulkish"><i class="fa fa-github"></i></a>
                <a style="font-size:2em;" href="https://www.facebook.com/vanth.stray"><i class="fa fa-facebook"></i></a>
                <a style="font-size:2em;" href="https://www.linkedin.com/in/hugo-moran-dev"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>

            <div class="p-4 bg-black">
              Junior Web Developer
            </div>

            <div>
              <div class="d-flex flex-row text-white align-items-stretch text-center">
                <div class="port-item p-4 bg-primary" data-toggle="collapse" data-target="#home">
                  <i class="fa fa-home d-block"></i> Inicio
                </div>
                <div class="port-item p-4 bg-success" data-toggle="collapse" data-target="#resume">
                  <i class="fa fa-graduation-cap d-block"></i> Curriculum
                </div>
                <div class="port-item p-4 bg-warning" data-toggle="collapse" data-target="#work">
                  <i class="fa fa-folder-open d-block"></i> Projectos
                </div>
                <div class="port-item p-4 bg-danger" data-toggle="collapse" data-target="#contact">
                  <i class="fa fa-envelope d-block"></i> Contacto
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- INICIO -->
    <div id="home" class="collapse show">
      <div class="card card-body bg-primary text-white py-5">
        <p class="lead rounded bg-light d-inline text-secondary m-0 text-center">{{msg}}</p>
        <h2>Bienvenido a mi portfolio.</h2>
        <p class="lead">Futuro full-stack developer actualmente enfocado 70% en Front-End y 30% en Back-End.</p>
        
      </div>

      <div class="card card-body py-3">
        <h4>HTML5</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>CSS3</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>JavaScript</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:35%"></div>
        </div>
        <h4>Bootstrap</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:85%"></div>
        </div>
        <h4>Inglés</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:97%"></div>
        </div>
        <div class="container">
        <div class="center">
          <img class="pl-5 pr-4" src="src/iconos/bootstrap.png" alt="">
          <img class="pl-5 pr-4" src="src/iconos/sass.png" alt="">
          <img class="pl-5 pr-4" src="src/iconos/nodejs.png" alt="">
          <img class="pl-5 pr-4" src="src/iconos/heroku.png" alt="">
          <img class="pl-5 pr-4" src="src/iconos/git.png" alt="">
          <img class="pl-5 pr-4" src="src/iconos/gulp.png" alt="">
          <img class="pl-5 pr-4" src="src/iconos/jquery.png" alt="">
        </div>
        </div>
      </div>

    </div>

    <!-- CURRICULUM -->
    <div id="resume" class="collapse">
      <div class="card card-body bg-success text-white py-5">
        <h2>Certificaciones y Experiencia</h2>
        <p class="lead">Decidido a estudiar cualquier framework, libreria o software necesario.</p>
      </div>

      <div class="card card-body pb-5 pt-3">
        <h3>Experiencia laboral</h3>
        <p class="lead">Aunque todavia no trabajé para empresas de desarrollo, me estoy capacitando para lograrlo.</p>



        <div class="card-deck text-center">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Starseg</h4>
              <p class="p-2 mb-3 bg-dark text-white rounded">
                Posición: Seguridad General
              </p>
              <p class="p-2 mb-3 bg-dark text-white rounded">
                Tel: 0810-345-0035
              </p>
            </div>
            <div class="card-footer">
              <h6 class="text-muted">Periodo: 2016 - Presente</h6>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Darge S.A</h4>
              <p class="p-2 mb-3 bg-dark text-white rounded">
                Posición: Seguridad General
              </p>
              <p class="p-2 mb-3 bg-dark text-white rounded">
                Tel: (011) 3970-5071
              </p>
            </div>
            <div class="card-footer">
              <h6 class="text-muted">Periodo: 2014 - 2016</h6>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Hunter S.A</h4>
              <p class="p-2 mb-3 bg-dark text-white rounded">
                Posición: Seguridad General
              </p>
              <p class="p-2 mb-3 bg-dark text-white rounded">
                Tel: (011) 4314-3010
              </p>
            </div>
            <div class="card-footer">
              <h6 class="text-muted">Periodo: 2013 - 2014</h6>
            </div>
          </div>
        </div>

        <h3 class="py-3">Certificados</h3>
        <div class="row">
          <div class="col-md-12">
            <p class="lead bg-light text-dark rounded p-2 inline text-center">(2009 - 2011) Bachiller con Orientación Artística B.O.A Nº1 Antonio Berni</p>
          </div>
          <div class="col-md-12">
            <p class="lead bg-light text-dark rounded p-2 text-center">(2015 - 2016) Asistente de Sonido y Producción Musical Instituto TAMABA</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item active lead">EducacionIT (2017)</li>
              <li class="list-group-item"><i class="fa fa-check-square-o"></i> HTML5: Fundamentos <span class="text-muted small"> (12hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square-o"></i> Intro a base de datos y SQL <span class="text-muted small"> (12hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square-o"></i> Intro a Paradigma de Objetos <span class="text-muted small"> (9hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square-o"></i> Java para no programadores <span class="text-muted small"> (15hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square-o"></i> Java Standard J2SE 8.0 <span class="text-muted small"> (40hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square-o"></i> JavaScript Dev. Avanzado Front-End <span class="text-muted small"> (30hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square-o"></i> Maquetación Web: HTML5 y CSS <span class="text-muted small"> (18hs)</span></li>
            </ul>
          </div>

          <div class="col-md-6">
            <ul class="list-group pb-2">
              <li class="list-group-item bg-danger text-white lead">Cambridge Proficiency Exam (2017)</li>
              <li class="list-group-item"><i class="fa fa-trophy"></i> CEFR Level: C1 - Puntuación General: 195/230</li>
            </ul>

            <ul class="list-group">
              <li class="list-group-item bg-warning text-white lead">Udemy (2018)</li>
              <li class="list-group-item"><i class="fa fa-check-square-o"></i> The Web Developer Bootcamp <span class="text-muted small"> (43hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square-o"></i> Bootstrap 4 From Scratch <span class="text-muted small"> (10hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square-o"></i> ES6 JavaScript: The Complete Developer's Guide <span class="text-muted small"> (7hs)</span></li>
              <li class="list-group-item"><i class="fa fa-cog fa-spin"></i> Modern React with Redux<span class="text-muted small"> En curso</span></li>
              <li class="list-group-item"><i class="fa fa-cog fa-spin"></i> Professional WordPress Theme Development<span class="text-muted small"> En cola</span></li>
            </ul>

          </div>

        </div>



      </div>
    </div>

    <!-- TRABAJO -->
    <div id="work" class="collapse">
      <div class="card card-body bg-warning py-5">
        <h2 class="text-white">Mi Portfolio</h2>
        <p class="lead text-white">Sitios responsive creados utilizando HTML5, CSS3, Bootstrap, JavaScript, NodeJS, Express y MongoDB entre otros. </p>
      </div>

      <div class="card card-body pb-5 pt-3">
        <h3 class="mb-4">¿En qué trabajé?</h3>
        <div class="card-deck">

          <div class="card">
            <a class="text-dark" href="https://looplab-compania.herokuapp.com/">
            <img class="card-img-top" src="src/img/looplab.png" alt="Card image cap">
            <div class="card-block p-3">
              <h4 class="card-title">LoopLab</h4>
            </a>
              <p class="card-text">Creada con HTML5, CSS3, Bootstrap 4 y JavaScript (jQuery) para smooth scrolling.</p>
            </div>

          </div>

          <div class="card">
            <a class="text-dark" href="https://libro-editorial.herokuapp.com/">
            <img class="card-img-top" src="src/img/editorial.png" alt="Card image cap">
            <div class="card-block p-3">
              <h4 class="card-title">Editoral</h4>
            </a>
              <p class="card-text">Creada con HTML5, CSS3, Bootstrap 4 y JavaScript (jQuery) para smooth scrolling.</p>
            </div>

          </div>
          <div class="card">
            <a class="text-dark" href="https://blogen-cp.herokuapp.com/">
            <img class="card-img-top" src="src/img/blogen.png" alt="Card image cap">
            <div class="card-block p-3">
              <h4 class="card-title">Blogen</h4>
            </a>
              <p class="card-text">Multi-pagina estilo CP creada con HTML5, CSS3, Bootstrap 4.</p>
            </div>

          </div>
        </div><hr>
        <div class="card-deck">
          <div class="card">
            <a class="text-dark" href="https://glozzom-it.herokuapp.com/">
            <img class="card-img-top" src="src/img/glozzom.png" alt="Card image cap">
            <div class="card-block p-3">
              <h4 class="card-title">Glozzom</h4>
            </a>
              <p class="card-text">Mult-pagina creada con HTML5, CSS3, Bootstrap 4 y 
                JavaScript (jQuery) para smooth scrolling.</p>
            </div>
          </div>
          <div class="card">
            <a class="text-dark" href="https://infinite-hollows-70512.herokuapp.com/">
            <img class="card-img-top" src="src/img/restful.png" alt="Card image cap">
            <div class="card-block p-3">
              <h4 class="card-title">RESTful BlogApp</h4>
            </a>
              <p class="card-text">Creado con HTML5, CSS3, JavaScript (jQuery), SemanticUI, 
                NodeJS, Express, MongoDB, Mongoose, EJS.</p>
            </div>
          </div>
          <div class="card">
            <a class="text-dark" href="https://evening-inlet-78501.herokuapp.com/">
            <img class="card-img-top" src="src/img/argcamp.png" alt="Card image cap">
            <div class="card-block p-3">
              <h4 class="card-title">ArgCamp</h4>
            </a>
              <p class="card-text">Creado con HTML5, CSS3, JS, Bootstrap 3.3, NodeJS, Express,
                 MongoDB, Mongoose, EJS, PassportJS, Autentificación, Autorización, Asociaciónes en database.</p>
            </div>
          </div>

        </div>


      </div>
    </div>

    <!-- CONTACTO -->
    <div id="contact" class="collapse">
      <div class="card card-body bg-danger text-white py-5">
        <h2>Contacto</h2>
        <p class="lead">Consultas, contrataciónes, proyectos a largo o corto plazo o ayuda en proyectos.</p>
      </div>

      <div class="card card-body py-5">
        <div class="row">
          <div class="col-md-6">
        <p class="lead bg-danger text-white rounded p-2 inline text-center"><i class="fa fa-phone-square"></i> Teléfono: 11 7097 4267</p>
          </div>
          <div class="col-md-6">
        <p class="lead bg-danger text-white rounded p-2 text-center"><i class="fa fa-envelope"></i> Email: dev.hugomoran@gmail.com</p>
        </div>
        </div>
       
        <form method="POST" action="send">
          <div class="form-group">
            <div class="input-group input-group-lg">
              <span class="input-group-addon bg-danger text-white">
                <i class="fa fa-user"></i>
              </span>
              <input type="text" class="form-control bg-dark text-white" name="name" placeholder="Nombre">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-lg">
              <span class="input-group-addon bg-danger text-white">
                <i class="fa fa-envelope"></i>
              </span>
              <input type="email" class="form-control bg-dark text-white" name="email" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-lg">
              <span class="input-group-addon bg-danger text-white">
                <i class="fa fa-pencil"></i>
              </span>
              <textarea rows="5" class="form-control bg-dark text-white" name="message" placeholder="Mensaje"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-danger btn-block btn-lg">Enviar</button>
        </form>
      </div>
    </div>

    <!-- FOOTER -->
    <footer id="main-footer" class="p-5 bg-dark text-white">
      <div class="row">
        <div class="col-lg-2">
          <a href="src/img/HugoMoranCV.pdf" class="btn btn-outline-light" download="HugoMoranCV"><i class="fa fa-cloud"></i> Descargar CV</a>
        </div>
        <div class="col-lg-2">
          <p class="lead text-white"><i class="fa fa-whatsapp"></i> 11 7097 4267</p>
        </div>
        <div class="col-lg-8">
          <div class="text-white text-right">Coded by <a href="https://github.com/ulkish">Hugo Moran</a></div> 
        </div>
        
      </div>
    </footer>

  </div>
  <script src="src/js/jquery.min.js"></script>
  <script src="src/js/popper.min.js"></script>
  <script src="src/js/bootstrap.min.js"></script>
  <script>
    $('.port-item').click(function(){
      $('.collapse').collapse('hide');
    });

  </script>
</body>
</html>